{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="masthead-content">
      <div class="container">
          <div class="jumbotron">
            <h2 class="masthead-subheading mb-0" style="color:white;text-align:center;">book</h2>
            <form action="{% url 'event-book' event.id %}" method="POST">
              {% csrf_token %}
              {{form|crispy}}
              <input  style="margin-left: 39%;" class = "btn btn-warning btn-xl rounded-pill mt-5" type="submit" value="Book Now" name="book">
            </form>
        </div>
      </div>
  </body>
</html>
{% endblock %}
