{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="masthead-content">
        <div class="container" >
            <div class="jumbotron" style="transform:translate(33px, 64px)">
                <h2 class="masthead-subheading mb-0" style="color:yellow;" >Log In</h2>
                <form  style="color:yellow;" action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input style="margin-left: 39%; transform: translate(41px, -22px);" class="btn btn-warning btn-xl rounded-pill mt-5" type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
