{% extends "base.html" %}
{% load static %}
{% block title %}List{% endblock title %}
{% block content %}
<table class="table table-striped table-dark" style="text-align: center;">
  <thead>
    <tr class="table-title">
      <th scope="col-12"><h1>Your Events</h1></th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td><h2>{{ event.title }}</h2></td>
      <td><a href="{% url 'event-detail' event.id %}" class="btn btn-warning btn-xl rounded-pill mt-1">Detail</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
